html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

main {
    display: block
}



html {
    box-sizing: border-box;
    font-family: sans-serif
}

*,::after,::before {
    box-sizing: inherit
}

body,h1,h2,h3,h4,h5,h6,p {
    margin: 0
}


.u-hidden {
    display: none!important
}

.u-before1of12 {
    margin-left: 8.33333%!important
}

.u-before1of10 {
    margin-left: 10%!important
}

.u-before1of8 {
    margin-left: 12.5%!important
}

.u-before1of6,.u-before2of12 {
    margin-left: 16.66667%!important
}

.u-before1of5,.u-before2of10 {
    margin-left: 20%!important
}

.u-before1of4,.u-before2of8,.u-before3of12 {
    margin-left: 25%!important
}

.u-before3of10 {
    margin-left: 30%!important
}

.u-before1of3,.u-before2of6,.u-before4of12 {
    margin-left: 33.33333%!important
}

.u-before3of8 {
    margin-left: 37.5%!important
}

.u-before2of5,.u-before4of10 {
    margin-left: 40%!important
}

.u-before5of12 {
    margin-left: 41.66667%!important
}

.u-before1of2,.u-before2of4,.u-before3of6,.u-before4of8,.u-before5of10,.u-before6of12 {
    margin-left: 50%!important
}

.u-before7of12 {
    margin-left: 58.33333%!important
}

.u-before3of5,.u-before6of10 {
    margin-left: 60%!important
}

.u-before5of8 {
    margin-left: 62.5%!important
}

.u-before2of3,.u-before4of6,.u-before8of12 {
    margin-left: 66.66667%!important
}

.u-before7of10 {
    margin-left: 70%!important
}

.u-before3of4,.u-before6of8,.u-before9of12 {
    margin-left: 75%!important
}

.u-before4of5,.u-before8of10 {
    margin-left: 80%!important
}

.u-before10of12,.u-before5of6 {
    margin-left: 83.33333%!important
}

.u-before7of8 {
    margin-left: 87.5%!important
}

.u-before9of10 {
    margin-left: 90%!important
}

.u-before11of12 {
    margin-left: 91.66667%!important
}

@media (min-width: 0) {
    .u-sm-before1of12 {
        margin-left:8.33333%!important
    }

    .u-sm-before1of10 {
        margin-left: 10%!important
    }

    .u-sm-before1of8 {
        margin-left: 12.5%!important
    }

    .u-sm-before1of6,.u-sm-before2of12 {
        margin-left: 16.66667%!important
    }

    .u-sm-before1of5,.u-sm-before2of10 {
        margin-left: 20%!important
    }

    .u-sm-before1of4,.u-sm-before2of8,.u-sm-before3of12 {
        margin-left: 25%!important
    }

    .u-sm-before3of10 {
        margin-left: 30%!important
    }

    .u-sm-before1of3,.u-sm-before2of6,.u-sm-before4of12 {
        margin-left: 33.33333%!important
    }

    .u-sm-before3of8 {
        margin-left: 37.5%!important
    }

    .u-sm-before2of5,.u-sm-before4of10 {
        margin-left: 40%!important
    }

    .u-sm-before5of12 {
        margin-left: 41.66667%!important
    }

    .u-sm-before1of2,.u-sm-before2of4,.u-sm-before3of6,.u-sm-before4of8,.u-sm-before5of10,.u-sm-before6of12 {
        margin-left: 50%!important
    }

    .u-sm-before7of12 {
        margin-left: 58.33333%!important
    }

    .u-sm-before3of5,.u-sm-before6of10 {
        margin-left: 60%!important
    }

    .u-sm-before5of8 {
        margin-left: 62.5%!important
    }

    .u-sm-before2of3,.u-sm-before4of6,.u-sm-before8of12 {
        margin-left: 66.66667%!important
    }

    .u-sm-before7of10 {
        margin-left: 70%!important
    }

    .u-sm-before3of4,.u-sm-before6of8,.u-sm-before9of12 {
        margin-left: 75%!important
    }

    .u-sm-before4of5,.u-sm-before8of10 {
        margin-left: 80%!important
    }

    .u-sm-before10of12,.u-sm-before5of6 {
        margin-left: 83.33333%!important
    }

    .u-sm-before7of8 {
        margin-left: 87.5%!important
    }

    .u-sm-before9of10 {
        margin-left: 90%!important
    }

    .u-sm-before11of12 {
        margin-left: 91.66667%!important
    }
}

@media (min-width: 750px) {
    .u-md-before1of12 {
        margin-left:8.33333%!important
    }

    .u-md-before1of10 {
        margin-left: 10%!important
    }

    .u-md-before1of8 {
        margin-left: 12.5%!important
    }

    .u-md-before1of6,.u-md-before2of12 {
        margin-left: 16.66667%!important
    }

    .u-md-before1of5,.u-md-before2of10 {
        margin-left: 20%!important
    }

    .u-md-before1of4,.u-md-before2of8,.u-md-before3of12 {
        margin-left: 25%!important
    }

    .u-md-before3of10 {
        margin-left: 30%!important
    }

    .u-md-before1of3,.u-md-before2of6,.u-md-before4of12 {
        margin-left: 33.33333%!important
    }

    .u-md-before3of8 {
        margin-left: 37.5%!important
    }

    .u-md-before2of5,.u-md-before4of10 {
        margin-left: 40%!important
    }

    .u-md-before5of12 {
        margin-left: 41.66667%!important
    }

    .u-md-before1of2,.u-md-before2of4,.u-md-before3of6,.u-md-before4of8,.u-md-before5of10,.u-md-before6of12 {
        margin-left: 50%!important
    }

    .u-md-before7of12 {
        margin-left: 58.33333%!important
    }

    .u-md-before3of5,.u-md-before6of10 {
        margin-left: 60%!important
    }

    .u-md-before5of8 {
        margin-left: 62.5%!important
    }

    .u-md-before2of3,.u-md-before4of6,.u-md-before8of12 {
        margin-left: 66.66667%!important
    }

    .u-md-before7of10 {
        margin-left: 70%!important
    }

    .u-md-before3of4,.u-md-before6of8,.u-md-before9of12 {
        margin-left: 75%!important
    }

    .u-md-before4of5,.u-md-before8of10 {
        margin-left: 80%!important
    }

    .u-md-before10of12,.u-md-before5of6 {
        margin-left: 83.33333%!important
    }

    .u-md-before7of8 {
        margin-left: 87.5%!important
    }

    .u-md-before9of10 {
        margin-left: 90%!important
    }

    .u-md-before11of12 {
        margin-left: 91.66667%!important
    }
}

@media (min-width: 960px) {
    .u-lg-before1of12 {
        margin-left:8.33333%!important
    }

    .u-lg-before1of10 {
        margin-left: 10%!important
    }

    .u-lg-before1of8 {
        margin-left: 12.5%!important
    }

    .u-lg-before1of6,.u-lg-before2of12 {
        margin-left: 16.66667%!important
    }

    .u-lg-before1of5,.u-lg-before2of10 {
        margin-left: 20%!important
    }

    .u-lg-before1of4,.u-lg-before2of8,.u-lg-before3of12 {
        margin-left: 25%!important
    }

    .u-lg-before3of10 {
        margin-left: 30%!important
    }

    .u-lg-before1of3,.u-lg-before2of6,.u-lg-before4of12 {
        margin-left: 33.33333%!important
    }

    .u-lg-before3of8 {
        margin-left: 37.5%!important
    }

    .u-lg-before2of5,.u-lg-before4of10 {
        margin-left: 40%!important
    }

    .u-lg-before5of12 {
        margin-left: 41.66667%!important
    }

    .u-lg-before1of2,.u-lg-before2of4,.u-lg-before3of6,.u-lg-before4of8,.u-lg-before5of10,.u-lg-before6of12 {
        margin-left: 50%!important
    }

    .u-lg-before7of12 {
        margin-left: 58.33333%!important
    }

    .u-lg-before3of5,.u-lg-before6of10 {
        margin-left: 60%!important
    }

    .u-lg-before5of8 {
        margin-left: 62.5%!important
    }

    .u-lg-before2of3,.u-lg-before4of6,.u-lg-before8of12 {
        margin-left: 66.66667%!important
    }

    .u-lg-before7of10 {
        margin-left: 70%!important
    }

    .u-lg-before3of4,.u-lg-before6of8,.u-lg-before9of12 {
        margin-left: 75%!important
    }

    .u-lg-before4of5,.u-lg-before8of10 {
        margin-left: 80%!important
    }

    .u-lg-before10of12,.u-lg-before5of6 {
        margin-left: 83.33333%!important
    }

    .u-lg-before7of8 {
        margin-left: 87.5%!important
    }

    .u-lg-before9of10 {
        margin-left: 90%!important
    }

    .u-lg-before11of12 {
        margin-left: 91.66667%!important
    }
}

.u-posRelative {
    position: relative!important
}

.u-size1of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 8.33333%!important
}

.u-size1of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 10%!important
}

.u-size1of8 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 12.5%!important
}

.u-size1of6,.u-size2of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 16.66667%!important
}

.u-size1of5,.u-size2of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 20%!important
}

.u-size1of4,.u-size2of8,.u-size3of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 25%!important
}

.u-size3of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 30%!important
}

.u-size1of3,.u-size2of6,.u-size4of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 33.33333%!important
}

.u-size3of8 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 37.5%!important
}

.u-size2of5,.u-size4of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 40%!important
}

.u-size5of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 41.66667%!important
}

.u-size1of2,.u-size2of4,.u-size3of6,.u-size4of8,.u-size5of10,.u-size6of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 50%!important
}

.u-size7of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 58.33333%!important
}

.u-size3of5,.u-size6of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 60%!important
}

.u-size5of8 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 62.5%!important
}

.u-size2of3,.u-size4of6,.u-size8of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 66.66667%!important
}

.u-size7of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 70%!important
}

.u-size3of4,.u-size6of8,.u-size9of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 75%!important
}

.u-size4of5,.u-size8of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 80%!important
}

.u-size10of12,.u-size5of6 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 83.33333%!important
}

.u-size7of8 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 87.5%!important
}

.u-size9of10 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 90%!important
}

.u-size11of12 {
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    width: 91.66667%!important
}

@media (min-width: 0) {
    .u-sm-size1of12 {
        -webkit-flex-basis:auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 8.33333%!important
    }

    .u-sm-size1of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 10%!important
    }

    .u-sm-size1of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 12.5%!important
    }

    .u-sm-size1of6,.u-sm-size2of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 16.66667%!important
    }

    .u-sm-size1of5,.u-sm-size2of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 20%!important
    }

    .u-sm-size1of4,.u-sm-size2of8,.u-sm-size3of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 25%!important
    }

    .u-sm-size3of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 30%!important
    }

    .u-sm-size1of3,.u-sm-size2of6,.u-sm-size4of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 33.33333%!important
    }

    .u-sm-size3of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 37.5%!important
    }

    .u-sm-size2of5,.u-sm-size4of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 40%!important
    }

    .u-sm-size5of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 41.66667%!important
    }

    .u-sm-size1of2,.u-sm-size2of4,.u-sm-size3of6,.u-sm-size4of8,.u-sm-size5of10,.u-sm-size6of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 50%!important
    }

    .u-sm-size7of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 58.33333%!important
    }

    .u-sm-size3of5,.u-sm-size6of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 60%!important
    }

    .u-sm-size5of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 62.5%!important
    }

    .u-sm-size2of3,.u-sm-size4of6,.u-sm-size8of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 66.66667%!important
    }

    .u-sm-size7of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 70%!important
    }

    .u-sm-size3of4,.u-sm-size6of8,.u-sm-size9of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 75%!important
    }

    .u-sm-size4of5,.u-sm-size8of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 80%!important
    }

    .u-sm-size10of12,.u-sm-size5of6 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 83.33333%!important
    }

    .u-sm-size7of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 87.5%!important
    }

    .u-sm-size9of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 90%!important
    }

    .u-sm-size11of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 91.66667%!important
    }
}

@media (min-width: 750px) {
    .u-md-size1of12 {
        -webkit-flex-basis:auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 8.33333%!important
    }

    .u-md-size1of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 10%!important
    }

    .u-md-size1of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 12.5%!important
    }

    .u-md-size1of6,.u-md-size2of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 16.66667%!important
    }

    .u-md-size1of5,.u-md-size2of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 20%!important
    }

    .u-md-size1of4,.u-md-size2of8,.u-md-size3of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 25%!important
    }

    .u-md-size3of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 30%!important
    }

    .u-md-size1of3,.u-md-size2of6,.u-md-size4of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 33.33333%!important
    }

    .u-md-size3of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 37.5%!important
    }

    .u-md-size2of5,.u-md-size4of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 40%!important
    }

    .u-md-size5of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 41.66667%!important
    }

    .u-md-size1of2,.u-md-size2of4,.u-md-size3of6,.u-md-size4of8,.u-md-size5of10,.u-md-size6of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 50%!important
    }

    .u-md-size7of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 58.33333%!important
    }

    .u-md-size3of5,.u-md-size6of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 60%!important
    }

    .u-md-size5of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 62.5%!important
    }

    .u-md-size2of3,.u-md-size4of6,.u-md-size8of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 66.66667%!important
    }

    .u-md-size7of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 70%!important
    }

    .u-md-size3of4,.u-md-size6of8,.u-md-size9of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 75%!important
    }

    .u-md-size4of5,.u-md-size8of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 80%!important
    }

    .u-md-size10of12,.u-md-size5of6 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 83.33333%!important
    }

    .u-md-size7of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 87.5%!important
    }

    .u-md-size9of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 90%!important
    }

    .u-md-size11of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 91.66667%!important
    }
}

@media (min-width: 960px) {
    .u-lg-size1of12 {
        -webkit-flex-basis:auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 8.33333%!important
    }

    .u-lg-size1of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 10%!important
    }

    .u-lg-size1of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 12.5%!important
    }

    .u-lg-size1of6,.u-lg-size2of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 16.66667%!important
    }

    .u-lg-size1of5,.u-lg-size2of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 20%!important
    }

    .u-lg-size1of4,.u-lg-size2of8,.u-lg-size3of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 25%!important
    }

    .u-lg-size3of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 30%!important
    }

    .u-lg-size1of3,.u-lg-size2of6,.u-lg-size4of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 33.33333%!important
    }

    .u-lg-size3of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 37.5%!important
    }

    .u-lg-size2of5,.u-lg-size4of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 40%!important
    }

    .u-lg-size5of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 41.66667%!important
    }

    .u-lg-size1of2,.u-lg-size2of4,.u-lg-size3of6,.u-lg-size4of8,.u-lg-size5of10,.u-lg-size6of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 50%!important
    }

    .u-lg-size7of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 58.33333%!important
    }

    .u-lg-size3of5,.u-lg-size6of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 60%!important
    }

    .u-lg-size5of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 62.5%!important
    }

    .u-lg-size2of3,.u-lg-size4of6,.u-lg-size8of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 66.66667%!important
    }

    .u-lg-size7of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 70%!important
    }

    .u-lg-size3of4,.u-lg-size6of8,.u-lg-size9of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 75%!important
    }

    .u-lg-size4of5,.u-lg-size8of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 80%!important
    }

    .u-lg-size10of12,.u-lg-size5of6 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 83.33333%!important
    }

    .u-lg-size7of8 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 87.5%!important
    }

    .u-lg-size9of10 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 90%!important
    }

    .u-lg-size11of12 {
        -webkit-flex-basis: auto!important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        width: 91.66667%!important
    }
}

.u-textCenter {
    text-align: center!important
}

.u-textLeft {
    text-align: left!important
}

.u-textRight {
    text-align: right!important
}



.Grid {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
    padding: 0
}

.Grid--alignCenter {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Grid--alignRight {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.Grid--withGutter {
    margin: 0 -5px;
    margin: 0 calc(-.5 * var(--Grid-gutter-size))
}

.Grid--withGutter>.Grid-cell {
    padding: 0 5px;
    padding: 0 calc(.5 * var(--Grid-gutter-size))
}

.Grid-cell {
    box-sizing: inherit;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    min-width: 0
}

.Grid-cell--center {
    margin: 0 auto
}
.Speakers {
    padding: 2.75rem 0;
    background: url(../img/textures/black-texture.png) #000;
    background: url(../img/textures/black-texture.png) var(--black);
    background-size: 300%;
    color: #fff;
    color: var(--white);
    position: relative
}

@media (min-width: 960px) {
    .Speakers {
        padding:5rem 0 10rem;
        background-size: cover
    }
}

.
.Speaker-wrapper {
    position: relative;
    margin: 3.2rem auto;
    left: 10px;
    max-width: 400px
}

.Speaker-wrapper::before {
    content: '';
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    border: 1px solid var(--black);
    background-color: #fff;
    background-color: var(--white);
    -webkit-transform: translate(-10px,10px);
    transform: translate(-10px,10px);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4
}

.Speaker-wrapper::after {
    content: '';
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    border: 1px solid var(--black);
    background-color: #fff;
    background-color: var(--white);
    -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

@media (min-width: 750px) {
    .Speaker-wrapper {
        max-width:460px;
        min-width: 300px;
        margin: 4rem auto
    }
}

@media (min-width: 960px) {
    .Speaker-wrapper {
        margin:4rem 2rem
    }
}

.Speaker-wrapper:hover .Speaker-headshot {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: -webkit-filter .3s;
    transition: filter .3s;
    transition: filter .3s,-webkit-filter .3s
}

.Speaker-wrapper:hover::after,.Speaker-wrapper:hover::before {
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.Speaker-wrapper:hover .Speaker-name {
    color: #000;
    color: var(--black)
}

.Speaker {
    position: relative;
    border: 1px solid #000;
    border: 1px solid var(--black);
    background-color: #fff;
    background-color: var(--white);
    padding: .5rem;
    z-index: 4
}

@media (min-width: 960px) {
    .Speaker {
        margin:0 0 3.125rem
    }
}

.Speaker>a {
    display: block
}

.Speaker:hover.Speaker-name {
    color: #000
}

@media (min-width: 960px) {
    .Speaker--offset {
        top:4rem;
        left: 4rem
    }
}

.Speaker-name {
    line-height: 2.2rem;
    margin: .5rem 0;
    text-transform: uppercase;
    color: #000;
    color: var(--black);
    padding: 12px 14px 0
}

@media (min-width: 960px) {
    .Speaker-name {
        color:#fff;
        color: var(--white);
        -webkit-text-stroke: 1.5px #000;
        -webkit-text-stroke: 1.5px var(--black)
    }
}

.Speaker-topic {
    font-size: .9rem;
    color: #000;
    color: var(--black);
    font-family: worksansmedium,sans-serif,monospace;
    font-family: var(--font-worksansmedium);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 21px;
    padding: 0 14px 12px
}

.Speaker-headshot {
    position: relative;
    height: 18rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #000;
    border: 1px solid var(--black);
    transition: -webkit-filter .3s;
    transition: filter .3s;
    transition: filter .3s,-webkit-filter .3s
}

@media (min-width: 960px) {
    .Speaker-headshot {
        -webkit-filter:grayscale(1);
        filter: grayscale(1)
    }
}

.Schedule {
    padding: 5rem 0 7rem;
    position: relative;
    background-color: #fff;
    background-color: var(--white)
}

@media (min-width: 960px) {
    .Schedule {
        padding:8rem 0 14rem
    }
}

.Schedule-main-title {
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    text-transform: uppercase;
    color: #000;
    color: var(--black);
    -webkit-text-stroke: .5px #fff;
    -webkit-text-stroke: .5px var(--white);
    margin-bottom: 2rem
}

@media (min-width: 960px) {
    .Schedule-main-title {
        -webkit-transform:rotate(-90deg);
        transform: rotate(-90deg);
        font-family: gtamerica,sans-serif,monospace;
        font-family: var(--font-gtamerica);
        text-transform: uppercase;
        font-size: 5rem;
        position: absolute;
        left: -10rem;
        top: 30rem
    }
}

.Schedule-timetable {
    position: relative
}

.Schedule-slot {
    padding: 3rem 0;
    position: relative
}

.Schedule-slot::after {
    content: '';
    border-bottom: 1px solid #000;
    border-bottom: 1px solid var(--black);
    width: 100%;
    z-index: 100;
    height: 1px;
    position: absolute;
    top: 100%
}

@media (min-width: 960px) {
    .Schedule-slot:hover .Schedule-photo {
        opacity:1
    }

    .Schedule-slot:hover .Schedule-time {
        color: #000;
        color: var(--black)
    }
}

.Schedule-slot:last-child {
    margin: 0
}

.Schedule-photo {
    display: none;
    pointer-events: none
}

@media (min-width: 960px) {
    .Schedule-photo {
        display:block;
        position: absolute;
        right: -6rem;
        top: -35%;
        opacity: 0;
        transition: all .4s;
        z-index: 0;
        height: 17rem;
        -webkit-transform-origin: center;
        transform-origin: center
    }
}

.Schedule-time {
    font-size: 3.75rem;
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    text-transform: uppercase;
    line-height: .5;
    color: #fff;
    color: var(--white);
    -webkit-text-stroke: 1.5px #000;
    -webkit-text-stroke: 1.5px var(--black);
    transition: color .4s;
    position: relative;
    z-index: 100
}

@media (min-width: 960px) {
    .Schedule-time {
        padding:0 2rem 0 0
    }
}

@media (max-width: 750px) {
    .Schedule-time {
        margin:0 0 3rem
    }
}

.Schedule-description,.Schedule-title {
    display: block;
    z-index: 100;
    position: relative;
    color: #000;
    color: var(--black)
}

@media (min-width: 960px) {
    .Schedule-description,.Schedule-title {
        padding:0 0 0 2rem
    }
}

.Schedule-description {
    font-size: .875rem
}

@media (min-width: 960px) {
    .Schedule-description {
        max-width:25rem
    }
}

.Schedule-title {
    font-family: worksans,sans-serif,monospace;
    font-family: var(--font-worksans);
    margin: 1rem auto .6rem;
    max-width: 60%
}

@media (min-width: 960px) {
    .Schedule-title {
        margin:0 0 .3rem
    }
}

.Tickets {
    background-color: #000;
    background-color: var(--black);
    padding: 10rem 1rem;
    position: relative;
    overflow: hidden
}

@media (min-width: 750px) {
    .Tickets {
        padding:10rem 2rem
    }
}

.Tickets-circle-right {
    position: absolute;
    top: -50%;
    right: -25%;
    height: 40rem
}

.Tickets-circle-left {
    position: absolute;
    bottom: -75%;
    left: -25%;
    height: 45rem
}

.Ticket-wrapper {
    position: relative;
    max-width: 400px;
    margin: auto;
    left: -10px
}

@media (min-width: 750px) {
    .Ticket-wrapper {
        max-width:700px
    }
}

@media (min-width: 960px) {
    .Ticket-wrapper {
        max-width:1000px
    }
}

.Ticket-wrapper::before {
    content: '';
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border: 1px solid var(--white);
    background-color: #000;
    background-color: var(--black);
    -webkit-transform: translate(10px,10px);
    transform: translate(10px,10px);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4
}

.Ticket-wrapper::after {
    content: '';
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border: 1px solid var(--white);
    background-color: #000;
    background-color: var(--black);
    -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3
}

.Ticket-wrapper:hover::after,.Ticket-wrapper:hover::before {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
}

.Ticket {
    background-color: #000;
    background-color: var(--black);
    border: 1px solid #fff;
    border: 1px solid var(--white);
    display: inline-block;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
    color: var(--white);
    z-index: 10;
    position: relative;
    width: 100%
}

@media (min-width: 750px) {
    .Ticket {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        min-height: 19rem;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        transition: .3s all ease-in-out;
        transition: var(--transition300);
        margin: 0 auto -2rem
    }
}

.Ticket-left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    background-color: #000;
    background-color: var(--black)
}

@media (min-width: 750px) {
    .Ticket-left {
        text-align:left;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.Ticket-right {
    min-width: 5.5rem;
    position: relative;
    border-left: 1px solid #fff;
    border-left: 1px solid var(--white);
    background-color: #000;
    background-color: var(--black)
}

.Ticket-right .Ticket-admit {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) translateY(-.8rem) rotate(-90deg);
    transform: translate(-50%,-50%) translateY(-.8rem) rotate(-90deg)
}

.Ticket-right .Ticket-admit {
    font-size: 2rem;
    text-align: center;
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    text-transform: uppercase;
    z-index: 2
}

.Ticket-top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid var(--white)
}

.Ticket-logo {
    width: 2.25rem;
    height: 2.25rem;
    background-color: #000;
    background-color: var(--black);
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    border-right: 1px solid #fff;
    border-right: 1px solid var(--white)
}

@media (min-width: 750px) {
    .Ticket-logo {
        width:3.75rem;
        height: 3.75rem;
        background-size: 64%
    }
}

.Ticket-admission {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    position: relative
}

.Ticket-admission span {
    text-transform: uppercase;
    position: relative;
    top: .1rem;
    font-size: 10px;
    letter-spacing: 7.43px;
    line-height: 26px;
    background-color: #000;
    background-color: var(--black);
    margin: 0;
    padding: 0 .5rem 0 .5rem;
    font-family: worksansmedium,sans-serif,monospace;
    font-family: var(--font-worksansmedium)
}

@media (min-width: 750px) {
    .Ticket-admission span {
        font-size:15px;
        letter-spacing: 12.43px;
        margin: 0 0 0 -2rem;
        padding: 0 .5rem 0 1.5rem
    }
}

@media (min-width: 960px) {
    .Ticket-admission span {
        font-size:15px;
        letter-spacing: 22.43px;
        margin: 0 0 0 -2rem;
        padding: 0 .5rem 0 2rem
    }
}

.Ticket-admission::before {
    content: '';
    width: 100%;
    height: 1px;
    border: .5px solid #fff;
    border: .5px solid var(--white);
    position: absolute;
    top: 50%;
    left: 0
}

.Ticket-get {
    padding: .7rem 3rem;
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    text-transform: uppercase;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.Ticket-get h1 {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: .3s all ease-in-out;
    transition: var(--transition300)
}

@media (max-width: 750px) {
    .Ticket-get {
        padding:1.7rem 1.7rem;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .Ticket-get h1 {
        font-size: 1.8rem
    }

    .Ticket-get h1 .white-outline {
        color: #fff;
        color: var(--white);
        -webkit-text-stroke: 0
    }
}

.Ticket-bottom {
    display: none;
    margin: 0 3rem 1.75rem;
    border-top: 1px solid #fff;
    border-top: 1px solid var(--white)
}

@media (min-width: 750px) {
    .Ticket-bottom {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.Ticket-location {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 0;
    position: relative
}

.Ticket-location::after,.Ticket-location::before {
    content: '';
    height: 100%;
    width: 1px;
    background-color: #fff;
    background-color: var(--white);
    position: absolute;
    top: 0
}

.Ticket-location:first-child {
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid var(--white)
}

.Ticket-location:first-child::before {
    left: 64%
}

@media (min-width: 960px) {
    .Ticket-location:first-child::before {
        left:48%
    }
}

.Ticket-location:first-child::after {
    right: 18%;
    display: none
}

@media (min-width: 960px) {
    .Ticket-location:first-child::after {
        display:block
    }
}

.Ticket-location:last-child {
    padding-bottom: .2rem
}

.Ticket-location:last-child::before {
    left: 28%
}

@media (min-width: 960px) {
    .Ticket-location:last-child::before {
        left:29%
    }
}

.Ticket-location:last-child::after {
    display: none
}

.Ticket-detail {
    font-weight: 700;
    font-size: .9rem
}

@media only screen and (min-width: 830px) {
    .Ticket-detail {
        font-size:.9rem
    }
}

@media (min-width: 960px) {
    .Ticket-detail {
        font-size:1.1rem;
        letter-spacing: 2px
    }
}



@font-face {
    font-family: gtamerica;
    src: url(../fonts/GT-America-Expanded-Bold.otf)
}

@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoMono-Regular.ttf)
}

@font-face {
    font-family: worksans;
    src: url(../fonts/WorkSans-Bold.ttf)
}

@font-face {
    font-family: worksansmedium;
    src: url(../fonts/WorkSans-Medium.otf)
}

.white-outline {
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    text-transform: uppercase;
    color: #000;
    color: var(--black);
    -webkit-text-stroke: .5px #fff;
    -webkit-text-stroke: .5px var(--white)
}

.black-outline {
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    text-transform: uppercase;
    color: #fff;
    color: var(--white);
    -webkit-text-stroke: 1.5px #000;
    -webkit-text-stroke: 1.5px var(--black)
}

h1 {
    font-size: 40px;
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    text-transform: uppercase
}

@media (min-width: 750px) {
    h1 {
        font-size:74px
    }
}

h2 {
    font-size: 30px;
    font-family: gtamerica,sans-serif,monospace;
    font-family: var(--font-gtamerica);
    color: #000;
    color: var(--black);
    letter-spacing: 0;
    line-height: 45px
}

.Main {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    padding: 0 .5rem;
    margin-bottom: 1rem;
    color: #000;
    color: var(--black);
    margin-left: -.8rem
}

@media (min-width: 750px) {
    .Main {
        padding:0 1rem;
        margin-bottom: 1.2rem;
        margin-left: -.8rem
    }
}

@media (max-width: 750px) {
    .Main {
        font-size:5.6rem;
        line-height: 4rem
    }
}

.Main::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: .425rem;
    background: linear-gradient(to right,#fcfbe6 0,#daf1f7 50%,#f3baf8 100%)
}

@media (min-width: 750px) {
    .Main {
        font-size:6rem
    }

    .Main::after {
        height: .625rem
    }
}

@media (min-width: 960px) {
    .Main {
        font-size:9rem
    }
}

@media (min-width: 0) {
    .u-sm-textCenter {
        text-align:center
    }
}

@media (max-width: 750px) {
    .u-sm-only-textCenter {
        text-align:center
    }
}

@media (min-width: 750px) {
    .u-md-textCenter {
        text-align:center
    }
}

@media (min-width: 750px) and (max-width:960px) {
    .u-md-only-textCenter {
        text-align:center
    }
}

@media (min-width: 960px) {
    .u-lg-textCenter {
        text-align:center
    }
}

@media (min-width: 0) {
    .u-sm-textLeft {
        text-align:left
    }
}

@media (max-width: 750px) {
    .u-sm-only-textLeft {
        text-align:left
    }
}

@media (min-width: 750px) {
    .u-md-textLeft {
        text-align:left
    }
}

@media (min-width: 750px) and (max-width:960px) {
    .u-md-only-textLeft {
        text-align:left
    }
}

@media (min-width: 960px) {
    .u-lg-textLeft {
        text-align:left
    }
}

@media (min-width: 0) {
    .u-sm-textRight {
        text-align:right
    }
}

@media (max-width: 750px) {
    .u-sm-only-textRight {
        text-align:right
    }
}

@media (min-width: 750px) {
    .u-md-textRight {
        text-align:right
    }
}

@media (min-width: 750px) and (max-width:960px) {
    .u-md-only-textRight {
        text-align:right
    }
}

@media (min-width: 960px) {
    .u-lg-textCenter {
        text-align:center
    }
}

.u-show-for-small {
    display: block
}

.u-show-for-small-only {
    display: none
}

@media (max-width: 750px) {
    .u-show-for-small-only {
        display:block
    }
}

.u-hide-for-small-only {
    display: block
}

@media (max-width: 750px) {
    .u-hide-for-small-only {
        display:none
    }
}

.u-show-for-medium {
    display: none
}

@media (min-width: 750px) {
    .u-show-for-medium {
        display:block
    }
}

.u-show-for-medium-only {
    display: none
}

@media (min-width: 750px) and (max-width:960px) {
    .u-show-for-medium-only {
        display:block
    }
}

.u-show-for-large {
    display: none
}

@media (min-width: 960px) {
    .u-show-for-large {
        display:block
    }
}

.u-hide-for-large {
    display: block
}

@media (min-width: 960px) {
    .u-hide-for-large {
        display:none
    }
}

.u-show-for-sr {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute!important
}

.u-m0 {
    margin: 0
}

.u-vertical-align {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

:root {
    --Grid-gutter-size:10px;--Grid-max-width:1275px;--font-roboto:'roboto',Courier,sans-serif,monospace;--font-gtamerica:'gtamerica',sans-serif,monospace;--font-worksans:'worksans',sans-serif,monospace;--font-worksansmedium:'worksansmedium',sans-serif,monospace;--font-size:1rem;--white:#fff;--black:#000;--transition150:150ms all ease-in-out;--transition200:200ms all ease-in-out;--transition300:300ms all ease-in-out;--display-loader:'none'}

html {
    scroll-behavior: smooth
}

body {
    font-family: roboto,Courier,sans-serif,monospace;
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-size: var(--font-size);
    width: 100vw;
    overflow-x: hidden;
    background-color: #2d4059;
    padding: 1rem;
    box-sizing: border-box;
}

body.menu-open {
    width: 100%;
    height: 100%;
    overflow: hidden
}

body.menu-open .Logo path {
    fill: #fff;
    fill: var(--white)
}

main {
    overflow: hidden
}

.Grid {
    margin: 0 auto;
    padding: 0 1rem
}

.Grid .Grid {
    padding: 0
}

.Grid--white {
    background-color: #fff;
    background-color: var(--white)
}



::-webkit-scrollbar {
  scroll-margin-right: 0.5rem;
  width: 1rem; }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right bottom, rgba(107, 34, 55, 0.7), rgba(215, 130, 154, 0.7));
    border-radius: 1rem; }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem; }



.footer {
  background-color: #333;
  margin-top: 5rem;
  padding: 10rem 0 0;
  font-size: 1.4rem;
  text-align: center;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%); }
  .footer__heading {
    margin-top: 5rem; }
  .footer__heading, .footer__iit-description {
    color: lighter(rgba(255, 255, 255, 0.5), 10%);
    font-size: 2rem; }
  .footer__iit-description {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.4; }
  .footer__line {
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    display: inline-block; }
  .footer__social-icon-box {
    margin-bottom: 3rem; }
  .footer__social-icon {
    font-size: 4rem;
    color: #7cf07f; }
    .footer__social-icon:not(:last-child) {
      margin-right: 5rem; }
    .footer__social-icon:hover, .footer__social-icon:active {
      color: #ffb17a; }
      .footer__social-icon:hover i, .footer__social-icon:active i {
        transform: scale(1.1); }
  .footer__logo-box img {
    width: 15rem;
    height: auto; }
