html {
  font-size: 62.5%; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  max-width: 100vw !important; }

::-webkit-scrollbar {
  scroll-margin-right: 0.5rem;
  width: 1.5rem; }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgba(40, 180, 133, 0.3), rgba(126, 213, 111, 0.3));
    border-radius: 1rem; }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem; }

body {
  background-color: darkslategray;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem; }

.navigation {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-image: linear-gradient(to bottom right, rgba(255, 14, 72, 0.8), rgba(233, 151, 135, 0.8)), url("https://media.gettyimages.com/photos/indian-bollywood-actor-and-singer-ayushmann-khurrana-takes-part-in-picture-id904677372?s=2048x2048");
  background-size: cover;
  background-position: top;
  opacity: 0;
  transition: height 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation--overlay {
    width: 100%;
    height: 100vh;
    opacity: 1; }
  .navigation__button {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    text-align: center;
    cursor: pointer; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: uppercase;
    position: relative; }
  .navigation__link:hover {
    transform: translateY(-0.5rem);
    transition: all 0.4s; }
  .navigation__link:after {
    content: "";
    display: block;
    height: 0.3rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    left: 50%;
    width: 0;
    transition: width 0.4s ease 0s, left 0.4s ease 0s; }
  .navigation__link:hover:after {
    width: 100%;
    left: 0; }
  .navigation__icon {
    position: relative;
    margin-top: 3rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      display: inline-block;
      overflow-x: visible;
      width: 3rem;
      height: 2px;
      background-color: darkslategray;
      transition: all 0.6s 0.2s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      right: 0; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
    .navigation__icon--overlay {
      background-color: transparent; }
      .navigation__icon--overlay::before {
        top: 0;
        transform: rotate(45deg); }
      .navigation__icon--overlay::after {
        top: 0;
        transform: rotate(-45deg); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 3; }
  .header__logo {
    margin: 0.2rem 7rem;
    height: 3.5rem;
    position: relative;
    z-index: 3; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__main-row {
    height: 100%; }
  .header__minar-image {
    position: absolute;
    bottom: 15%;
    filter: opacity(70%); }
  .header__minar-image:hover {
    filter: opacity(80%); }

.about-us {
  margin-top: 5rem; }
  .about-us__heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 6rem; }
  .about-us__video {
    width: 56rem;
    height: 31.5rem; }
  .about-us__description {
    height: 31.5rem;
    font-size: 2rem;
    position: relative; }
  .about-us__description-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.pronites-intro {
  margin-top: 9rem;
  margin-bottom: 9rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("https://blithchron.iitgn.ac.in/images/home/pronites%20web.jpg");
  background-size: cover;
  height: 80vh;
  text-align: center;
  padding-top: 9rem;
  transform: skewY(-7deg);
  color: white;
  position: relative; }
  .pronites-intro__heading {
    transform: skewY(7deg);
    margin-top: 1rem;
    margin-bottom: 6rem; }
  .pronites-intro__content {
    transform: skewY(7deg); }
  .pronites-intro__description-text {
    font-size: 2rem; }
  .pronites-intro__button {
    font-size: 2rem;
    border: 1px solid white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: skewY(7deg) translateX(-50%); }

.blith-mun {
  margin-top: 5rem; }
  .blith-mun__heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 6rem; }
  .blith-mun__image {
    width: 32rem; }
  .blith-mun__description {
    font-size: 2rem;
    position: relative; }
  .blith-mun__button, .blith-mun__fb-button {
    font-size: 2rem; }

.countdown {
  position: absolute;
  bottom: 3rem;
  right: 5rem; }
