/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

html{
    font-size: 10px;
}

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: rgba(47, 79, 79);
    font-family: "Lato",sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8),rgba(85, 197, 122,0.8)) , url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0, 100% 75vh ,0 100%);
    position: relative;
}

.logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index:3;
}

.logo{
    margin: 0.2rem 7rem;
    height: 3.5rem;
    position:relative;
    z-index:3;
}

.heading-primary{
    color:white;
    text-transform: uppercase;
}

.heading-primary-main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
}

.heading-primary-sub{
    display:block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main-row{
    height:100%;
}

.minar-image{
    position:absolute;
    bottom: 15%;
    filter: opacity(70%);
}

.minar-image:hover{
    filter: opacity(80%);
}

.countdown{
    position:absolute;
    bottom:3rem;
    right:5rem;
}

::-webkit-scrollbar {
    scroll-margin-right:0.5rem;  
    width: 1.5rem;
}
   

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,rgba(126, 213, 111, 0.3),rgba(85, 197, 122,0.3));
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius:1rem;
}