$color-primary: #b83b5e;
$color-primary-light: lighten($color-primary,20%);
$color-primary-dark: darken($color-primary,20%);
$color-background: #2d4059;
$color-body-text: rgba(white,0.5);
$color-grey-dark: #777;
$color-white: #fff;
$color-skew-button : #f9ed69;