.blith-event-card{
    background-color: transparent!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    margin-top: 2rem;
}
.card{
    &-body{
    font-size: 1.5rem;
    }
    &-title{
        font-size: 3rem;
        color: rgba(white,0.7);
    }
    a{
        font-size: 1.5rem;
    }
}

.modal{
    
}
