.special-button{
    outline: none!important;
    border: none!important;
    position: relative;
    background-color: #f08a5d;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    padding: 2rem 3rem;
    margin: 0 auto;
    border-radius: 2rem;
    box-shadow: 0 0.6rem darken(#f08a5d,15%);

    &:hover{
        box-shadow: 0 0.4rem darken(#f08a5d,15%);
        top: 0.2rem;
    }
    &:active{
        box-shadow: none;
        top: 0.6rem;
    }
}