
*, *::before, *::after {
    margin: 0;
    padding : 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include desktop-respond(lg){
        font-size: 60%;
    }
}


::-webkit-scrollbar {
    scroll-margin-right:0.5rem;  
    width: 1.5rem;

    &-thumb {
        background: linear-gradient(to right bottom,rgba($color-primary-dark, 0.7),rgba($color-primary-light,0.7));
        border-radius: 1rem;
    }
    
    &-track {
        background: transparent;
        border-radius:1rem;
    }
}

