
*, *::before, *::after {
    margin: 0;
    padding : 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include desktop-respond(lg){
        font-size: 60%;
    }
    @include desktop-respond(md){
        font-size: 56%;
    }
    @include desktop-respond(sm){
        font-size: 52%;
    }
    @include desktop-respond(xs){
        font-size: 48%;
    }
}

body{
    background-color: $color-background;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-body-text;
    padding: 2rem;
    box-sizing: border-box;
    @include desktop-respond(sm)
    {
        padding : 0;
    }
}


::-webkit-scrollbar {
    scroll-margin-right:0.5rem;  
    width: 1rem;

    &-thumb {
        background: linear-gradient(to right bottom,rgba($color-primary-dark, 0.7),rgba($color-primary-light,0.7));
        border-radius: 1rem;
    }
    
    &-track {
        background: transparent;
        border-radius:1rem;
    }
}

