@import url(https://fonts.googleapis.com/css?family=Righteous);
.heading-primary{
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    transform: skewY(-3deg);
    display: block;
    $shadow: #533d4a;
    text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px;

    &--main{
        display: block;
        font-size: 8vw;
        font-weight: 900;
        letter-spacing: 2vw;
        color: darken(#FFDD1B,15%);
        z-index:100;
        float: left;
    }

    &--sub{
        display:block;
        font-size: 3vw;
        font-weight: 700;
        letter-spacing: 0.8vw;
        color: darken(#96f7d2,0%);
        text-align: center;

        @include desktop-respond(lg)
        {
            font-size: 25px;
        }
        & span{
            display: inline-block;
            margin-top: 2rem;
        }
    }
}

.neon-title{
    animation: neon3 1.5s ease-in-out infinite alternate, blink 3s infinite alternate;
}

.heading-secondary{
    font-size: 4rem;
    font-weight: 600;
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    position:relative;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);

    &:after{
        content: attr(data-shadow);
        display: block;
        position: absolute;
        top: .1em; left: .1em;
        z-index: -1;
        text-shadow: none;
        background-image:
        linear-gradient(
            45deg,
            transparent 45%,
            hsla(48,20%,90%,1) 45%,
            hsla(48,20%,90%,1) 55%,
            transparent 0
            );
        background-size: .1em .1em;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shad-anim 15s linear infinite;
    }
}

.heading-secondary__container{
    text-align: center;
}